<section>
  <article >
    <h2>Para limpeza: </h2>
      <ul ng-repeat="r in materiais.slice().reverse()">
        <li ng-if="r.limpeza !== undefined ">
          {{ r.limpeza }}
        </li>
      </ul>
  </article>
  <article >
    <h2>Para Aplicação: </h2>
      <ul ng-repeat="r in materiais.slice().reverse()">
        <li ng-if="r.aplicacao !== undefined ">
          {{ r.aplicacao }}
        </li>
      </ul>
  </article>
  <article >
    <h2>Para Oclusão: </h2>
      <ul ng-repeat="r in materiais.slice().reverse()">
        <li ng-if="r.oclusao !== undefined ">
          {{ r.oclusao }}
        </li>
      </ul>
  </article>
  <article >
    <h2>Para Fixação: </h2>
      <ul ng-repeat="r in materiais.slice().reverse()">
        <li ng-if="r.fixacao !== undefined ">
          {{ r.fixacao }}
        </li>
      </ul>
  </article>
</section>