<section>
  <form name="form" ng-submit="register()">
    <fieldset>
      <legend>Formulário de Registro</legend>

      <div class="form-group">
        <label>Email</label>
        <input name="email" type="text" ng-model="user.email">
      </div>

      <div class="form-group">
        <label>Senha</label>
        <input name="password" type="password" ng-model="user.password">
      </div>

      <div class="actions">
        <label></label>
        <button>Registrar-se</button>
      </div>
    </fieldset>
  </form>
</section>
